{{ form_start(commentform, {'action': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')), 'method': 'POST'}) }}
{{ form_row(commentform.content) }}
<button type="submit">Ajouter un commentaire</button>
{{ form_end(commentform) }}