
###> symfony/framework-bundle ###
/.env
/.idea/
/public/bundles/
/public/uploads/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
