
###> symfony/framework-bundle ###
/.env
/.idea/
/public/bundles/
/public/uploads/
/var/
/vendor/
/cover/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
