/* All */
html{height:100%;}
body{height:100%;font-size:14px;background:#eee;}

/* Navigation */
.navbar{background-color: #363636 !important;padding:0 20px;}
.nav-link, .navbar-brand{color:#fff;}
.nav-item:hover{background:#222222;}
.nav-item{height: 60px;line-height: 43px;}
.logo{background:url('/images/title.png');background-size: 100% 100%;display: block;width: 160px;height: 40px;}

/* Header */
.HeaderImg{height: 100%;width: 100%;margin-top: -50px;background:url('https://www.wired.com/images_blogs/gadgetlab/2013/12/robbie.jpg');background-size:100% auto;background-position:bottom;display:flex;align-items: center;justify-content: center;}
.HeaderImg > div{color: #fff;font-size: 70px;text-shadow:1px 1px 2px black;font-family: Arial;}
.logo{background:url('/images/title.png');background-size: 100% 100%;display: block;width: 160px;height: 40px;}
.DownArrow{position: absolute;bottom: 0;right: 20px;}
.DownArrow > a > i{color:#fff;}
.DownArrow > a > i:hover{color:#575757;}

/* Footer */
footer{background:#2b2b2b;color:#fff;padding:20px;}

/* Content */
.FiguresList{max-width: 100%;margin: 0;background: #272727;}
.card{border-radius: 0; border: 0;}
.block{background:#fff;}
.bb{border-bottom:solid 1px #ccc;}
.bt{border-top:solid 1px #ccc;}

/* Figures */
.FigureIcon > a > i{font-size:20px;margin-right:10px;color:#575757;}
.FigureIcon > a > i:hover{font-size:20px;margin-right:10px;color:#000;}
.FigureImg{height: 100%;width: 100%;display:flex;align-items: center;justify-content: center;max-height:500px;overflow:hidden;}
.FigureImg > .FigureName{color: #fff;font-size: 70px;text-shadow:1px 1px 2px black;font-family: Arial;position:absolute;}
.FiguresMedia{max-width: 100%;margin: 0;background: #fff;}
.FigureUpdateBox{position: absolute;top: 5px;right: 15px;font-size: 20px;color:#fff;}
.FigureUpdateBox > a{color:#eee;}
.FigureUpdateBox > a:hover{color:#fff;}
.LoadMoreComment{display:inline-block;background:#575757;color:#fff;padding:10px;}
.CommentData{border-bottom: solid 1px #aaa;padding-bottom: 10px;}

/* Formulaires */
form{width:100%;}

/* Flash Message */
.alert{
    background: #1374c3;
    position: fixed;
    margin: 1%;
    display: block;
    width: 98%;
    color: #fff;
    z-index: 999;
}