/* All */
html{height:100%;}
body{height:100%;font-size:14px;background:#eee;background:url('../images/bg2.jpg');background-size: 100% 100%;background-attachment: fixed;}

/* Navigation */
.navbar{background-color: #363636 !important;padding:0 20px;}
.nav-link, .navbar-brand{color:#fff;}
.nav-item:hover{background:#222222;}
.nav-item{height: 60px;line-height: 43px;}
.logo{background:url('../images/title.png');background-size: 100% 100%;display: block;width: 160px;height: 40px;}

/* Header */
.HeaderImg{height: 100%;width: 100%;margin-top: -50px;background:url('../images/bg.jpg') no-repeat;background-size:100% 100%;background-position:bottom;display:flex;align-items: center;justify-content: center;}
.HeaderImg > div{color: #fff;font-size: 70px;text-shadow:1px 1px 2px black;font-family: Arial;}
.logo{background:url('../images/title.png');background-size: 100% 100%;display: block;width: 160px;height: 40px;}
.DownArrow{position: absolute;bottom: 0;right: 20px;}
.DownArrow > a > i{color:#fff;}
.DownArrow > a > i:hover{color:#575757;}
.Title{background:#575757;color:#fff;min-height:200px;line-height:200px;margin:40px auto 0 auto;font-weight:bold;font-size:40px;}
.TitleWhite{background:#fff;color:#575757;min-height:200px;line-height:200px;margin:40px auto 0 auto;font-weight:bold;font-size:40px;}

/* Footer */
footer{background:#2b2b2b;color:#fff;padding:20px;}

/* Content */
.FiguresList{max-width: 100%;margin: 0;background: #272727;}
.card{border-radius: 0; border: 0;}
.container{max-width:80%;}
.block{background:#fff;}
.bb{border-bottom:solid 1px #ccc;}
.bt{border-top:solid 1px #ccc;}
.InputHeight{min-height:100px;}
iframe{max-width: 100% !important;max-height: 150px !important;}
.blockshadow{box-shadow: #0101014d 0px 0px 17px 0;    padding: 0;}
hr{color:#575757;border-color:#575757;text-align:center;}
hr:after{content: "OU";display: inline-block;    position: relative;    top: -.8em;   font-size: 2em;    padding: 0 .25em;background:#fff;}

/* Modal */
.modal-header .close{position:absolute;right:20px;}

/* Figures */
.FigureIcon > a > i{font-size:20px;margin-right:10px;color:#575757;}
.FigureIcon > a > i:hover{font-size:20px;margin-right:10px;color:#000;}
.FigureImg{height: 100%;width: 100%;display:flex;align-items: center;justify-content: center;max-height:500px;overflow:hidden;}
.FigureImg > .FigureName{color: #fff;font-size: 70px;text-shadow:1px 1px 2px black;font-family: Arial;position:absolute;}
.FiguresMedia{max-width: 100%;margin: 0;background: #fff;}
.FigureUpdateBox{position: absolute;top: 5px;right: 15px;font-size: 20px;color:#fff;}
.FigureUpdateBox > a{color:#eee;}
.FigureUpdateBox > a:hover{color:#fff;}
.LoadMoreComment{display:inline-block;background:#575757;color:#fff;padding:10px;}
.CommentData{border-bottom: solid 1px #aaa;padding-bottom: 10px;}
.card-img-media{width:100%;max-height:205px;}
.TrickIcon{font-size: 20px;line-height: 45px;}
.TrickIcon > a > i{margin-left:10px;}
.TrickIcon > a {color:#575757;}
.TrickIcon > a:hover {color: rgba(0, 0, 0);}
.TrickBottom{border-bottom: solid 1px #aaa;}

/* Formulaires */
form{width:100%;}
.FormGroup {width:100%;margin-bottom:10px;padding-bottom:20px;border-bottom:solid 1px #ccc;}
.FormGroup > small{display:block;margin-bottom:10px;}
.FormGroup > input[type=text]{display:block;width:100%;}
.form-group > label{display:none;}
.form-group {margin-top:10px;margin-bottom:0;}
.logintext {font-size:15px;font-weight:bold;margin-bottom:5px;color:#575757;}
.logintext {font-size:15px;font-weight:bold;margin-bottom:5px;color:#575757;}

/* Flash Message */
.alert{background: #1374c3;position: fixed;margin: 1%;display: block;width: 98%;color: #fff;z-index: 999;}
.alert-error{background: #c3222f!important;position: fixed;margin: 1%;display: block;width: 98%;color: #fff;z-index: 999;}
.card-img-top-list{height:300px;}

/* Media Query */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px)
{
    .HeaderImg{height:50%;}
    .navbar{padding-top:10px;padding-bottom:10px;}
    .container {padding:0;max-width:100%;}
    .TitleWhite, .Title {margin:0 auto;}
    .HeaderImg {background-size: auto 100%;background-repeat: no-repeat;}
    .HeaderImg > div {font-size: 27px;text-align: center;}
    .DownArrow {font-size:40px;}
    .IndexLoadMore {padding: 0;}
    .FigureName{font-size:40px!important;}
    .card-img-media {max-height:none;}
    .card-img-top-list{height:200px;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{

}