{% extends 'base.html.twig' %}


{% block body %}
<div class="HeaderImg">
    <div>Lorem ipsum dolor sit amet</div>
    <div class="DownArrow"><a href="#figures"><i class="fa fa-arrow-down"></i></a></div>
</div>

<div class="row FiguresList" id="figures" style="min-height:500px;">
</div>
{% endblock %}