<h2>Bonjour, {{ username }}</h2>

<div style="font-size:16px;font-weight:bold;margin-bottom:10px;">Récupération de mot de passe</div>

<div>Vous avez récemmenet éffectué une demande de réinitialisation de mot de passe. Vous trouverez ci-dessous le lien permettant de créer un nouveau mot de passe.</div>
<div style="margin-top:5px;font-size:10px;font-style:italic;color:red;">( Si cette demande ne vien pas de vous, vous pouvez tout simplement ignorer ce mail)</div>
<div style="margin-top:20px;"><a href="{{ link }}">{{ link }}</a></div>