<h2>Hello,</h2>

<div style="font-size:16px;font-weight:bold;margin-bottom:10px;">Unit Test Mail</div>

<div>This mail was sent by unit test at {{ date|date('d/m/Y H:i') }}.</div>
<div style="margin-top:20px;"><a href="{{ link }}">{{ link }}</a></div>