{% extends "base.html.twig" %}

{% block title %}Création d'une figures{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ include('trick/base.html.twig') }}

            <div class="col-12">
                <div class="block p-4">
                    {{ include('form/trick.html.twig', {'button_label': 'Ajouter la figure'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}