{% extends "base.html.twig" %}

{% block title %}Edition d'une figure{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include('trick/base.html.twig') %}

            <div class="col-12">
                <div class="block p-4">
                {%  include('form/trick.html.twig') %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}