{% extends "base.html.twig" %}

{% block title %}Snowtrick | Figures{% endblock %}

{% block body %}
    <div class="container">
        <header class="TitleWhite text-center">
            Les figures
        </header>
        <div class="row FiguresList" id="figures">
            {% for trick in tricks %}
                <div class="col-lg-4 p-4">
                    <div class="card">
                        <img class="card-img-top" src="http://franceolympique.com/files/Image/Equipe-de-France/actualite/2012/rodrig1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title">{{ trick.name }}</h5>
                                    <small>{{ trick.groupid.name }}</small>
                                </div>
                                <div class="col-4">
                                    {% if is_granted('ROLE_USER') %}
                                    <i class="fa fa-pencil"></i>
                                    <i class="fa fa-trash"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_granted('ROLE_USER') %}
        <div class="block"><a href="{{ path('app_trick_new') }}">Ajouter une figure</a></div>
        {% endif %}
    </div>
{% endblock %}